In [1]:
import sys
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
np.set_printoptions(threshold=sys.maxsize)

In [5]:
df = pd.read_csv('Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [93]:
X = df.iloc[:, 3:13].values
y = df.iloc[:, 13].values
X[:5]

array([[619, 'France', 'Female', 42, 2, 0.0, 1, 1, 1, 101348.88],
       [608, 'Spain', 'Female', 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [502, 'France', 'Female', 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [699, 'France', 'Female', 39, 1, 0.0, 2, 0, 0, 93826.63],
       [850, 'Spain', 'Female', 43, 2, 125510.82, 1, 1, 1, 79084.1]],
      dtype=object)

In [94]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# labelencoder - provides a very efficient tool for encoding
# the levels of categorical features into numeric values. 
#X[:,2] entire gender column
labelencoder_gender = LabelEncoder()
X[:, 2] = labelencoder_gender.fit_transform(X[:, 2])
X[:5]

array([[619, 'France', 0, 42, 2, 0.0, 1, 1, 1, 101348.88],
       [608, 'Spain', 0, 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [502, 'France', 0, 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [699, 'France', 0, 39, 1, 0.0, 2, 0, 0, 93826.63],
       [850, 'Spain', 0, 43, 2, 125510.82, 1, 1, 1, 79084.1]],
      dtype=object)

In [95]:
from sklearn.compose import ColumnTransformer
# remainder - by default only the column transformed would be returned by 
# transformer,'passthrough' they will be unchanged, 'ohe' just a name of t-former
ct = ColumnTransformer([('ohe', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X), dtype = str) # float? working fine too
X = X[:, 1:]
X[:5]

array([['0.0', '0.0', '619', '0', '42', '2', '0.0', '1', '1', '1',
        '101348.88'],
       ['0.0', '1.0', '608', '0', '41', '1', '83807.86', '1', '0', '1',
        '112542.58'],
       ['0.0', '0.0', '502', '0', '42', '8', '159660.8', '3', '1', '0',
        '113931.57'],
       ['0.0', '0.0', '699', '0', '39', '1', '0.0', '2', '0', '0',
        '93826.63'],
       ['0.0', '1.0', '850', '0', '43', '2', '125510.82', '1', '1', '1',
        '79084.1']], dtype='<U9')

In [96]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                    test_size = 0.2, random_state = 0)

In [97]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [79]:
X_test[:3]

array([[ 1.75486502, -0.57369368, -0.55204276, -1.09168714, -0.36890377,
         1.04473698,  0.8793029 , -0.92159124,  0.64259497,  0.9687384 ,
         1.61085707],
       [-0.5698444 , -0.57369368, -1.31490297, -1.09168714,  0.10961719,
        -1.031415  ,  0.42972196, -0.92159124,  0.64259497, -1.03227043,
         0.49587037],
       [-0.5698444 ,  1.74309049,  0.57162971, -1.09168714,  0.30102557,
         1.04473698,  0.30858264, -0.92159124,  0.64259497,  0.9687384 ,
        -0.42478674]])

In [100]:
from tensorflow.keras.models import Sequential 
from keras.layers import Dense
# sequential allows to build an ANN as a sequence of layers
# dense allows to create fully conneted network
# kernel_initilaizer is used to initialize a weights in a network

#classifier = Sequential()
#classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))
#classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
#classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))
#classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

classifier = Sequential([
    Dense(units = 11, kernel_initializer='uniform', activation='relu', input_dim=11),
    Dense(units = 11, kernel_initializer='uniform', activation='relu'),
    Dense(units = 1, kernel_initializer='uniform', activation='sigmoid')
])
classifier.compile(optimizer = 'adamax', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [101]:
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)
# batch size = at a time it takes 10 rows 
# epochs = alogrithm run across the network

Epoch 1/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7958
Epoch 2/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4387 - accuracy: 0.7960
Epoch 3/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4311 - accuracy: 0.7960
Epoch 4/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4272 - accuracy: 0.7960
Epoch 5/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4245 - accuracy: 0.7960
Epoch 6/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4217 - accuracy: 0.8031
Epoch 7/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4189 - accuracy: 0.8210
Epoch 8/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4164 - accuracy: 0.8259
Epoch 9/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4139 - accuracy: 0.8304
Epoch 10/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4116 - accuracy: 0.8328
Epoch 11/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4093 - accuracy: 0.8340
Epoch 12/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4072 - accuracy: 0.8359
Epoch 13/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4059 - accuracy: 0.8345
Epoch 14/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4045 - accuracy: 0.8351
Epoch 15/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4032 - accuracy: 0.8357
Epoch 16/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4021 - accuracy: 0.8364
Epoch 17/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8363
Epoch 18/100
800/800 [==============================] - 3s 4ms/step - loss: 0.4004 - accuracy: 0.8366
Epoch 19/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3997 - accuracy: 0.8367
Epoch 20/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3989 - accuracy: 0.8366
Epoch 21/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3983 - accuracy: 0.8370
Epoch 22/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3976 - accuracy: 0.8364
Epoch 23/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3967 - accuracy: 0.8359
Epoch 24/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3965 - accuracy: 0.8367
Epoch 25/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3957 - accuracy: 0.8360
Epoch 26/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3957 - accuracy: 0.8369
Epoch 27/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3951 - accuracy: 0.8376
Epoch 28/100
800/800 [==============================] - 4s 5ms/step - loss: 0.3948 - accuracy: 0.8367
Epoch 29/100
800/800 [==============================] - 4s 4ms/step - loss: 0.3946 - accuracy: 0.8378
Epoch 30/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3943 - accuracy: 0.8376
Epoch 31/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3941 - accuracy: 0.8367
Epoch 32/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3936 - accuracy: 0.8372
Epoch 33/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3936 - accuracy: 0.8366
Epoch 34/100
800/800 [==============================] - 4s 4ms/step - loss: 0.3931 - accuracy: 0.8367
Epoch 35/100
800/800 [==============================] - 4s 5ms/step - loss: 0.3932 - accuracy: 0.8366
Epoch 36/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3928 - accuracy: 0.8372
Epoch 37/100
800/800 [==============================] - 4s 5ms/step - loss: 0.3927 - accuracy: 0.8384
Epoch 38/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3926 - accuracy: 0.8366
Epoch 39/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3924 - accuracy: 0.8376
Epoch 40/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3923 - accuracy: 0.8366
Epoch 41/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3922 - accuracy: 0.8384
Epoch 42/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3923 - accuracy: 0.8393
Epoch 43/100
800/800 [==============================] - 4s 4ms/step - loss: 0.3919 - accuracy: 0.8372
Epoch 44/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3921 - accuracy: 0.8372
Epoch 45/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3916 - accuracy: 0.8379
Epoch 46/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3917 - accuracy: 0.8388
Epoch 47/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3913 - accuracy: 0.8382
Epoch 48/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3912 - accuracy: 0.8386
Epoch 49/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3911 - accuracy: 0.8381
Epoch 50/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3912 - accuracy: 0.8378
Epoch 51/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3910 - accuracy: 0.8374
Epoch 52/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3909 - accuracy: 0.8395
Epoch 53/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3907 - accuracy: 0.8401
Epoch 54/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3905 - accuracy: 0.8371
Epoch 55/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3907 - accuracy: 0.8390
Epoch 56/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3903 - accuracy: 0.8395
Epoch 57/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3901 - accuracy: 0.8391
Epoch 58/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3901 - accuracy: 0.8385
Epoch 59/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3898 - accuracy: 0.8399
Epoch 60/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3900 - accuracy: 0.8406
Epoch 61/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3899 - accuracy: 0.8386
Epoch 62/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3897 - accuracy: 0.8384
Epoch 63/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3899 - accuracy: 0.8399
Epoch 64/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3899 - accuracy: 0.8400
Epoch 65/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3898 - accuracy: 0.8401
Epoch 66/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3897 - accuracy: 0.8395
Epoch 67/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3896 - accuracy: 0.8396
Epoch 68/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3894 - accuracy: 0.8397
Epoch 69/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3891 - accuracy: 0.8380
Epoch 70/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3892 - accuracy: 0.8397
Epoch 71/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3890 - accuracy: 0.8401
Epoch 72/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3890 - accuracy: 0.8399
Epoch 73/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3888 - accuracy: 0.8406
Epoch 74/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3886 - accuracy: 0.8405
Epoch 75/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3883 - accuracy: 0.8410
Epoch 76/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3886 - accuracy: 0.8401
Epoch 77/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3883 - accuracy: 0.8407
Epoch 78/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3879 - accuracy: 0.8401
Epoch 79/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3872 - accuracy: 0.8401
Epoch 80/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3874 - accuracy: 0.8405
Epoch 81/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3872 - accuracy: 0.8401
Epoch 82/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3867 - accuracy: 0.8419
Epoch 83/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3867 - accuracy: 0.8403
Epoch 84/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3863 - accuracy: 0.8410
Epoch 85/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3857 - accuracy: 0.8407
Epoch 86/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3852 - accuracy: 0.8424
Epoch 87/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3845 - accuracy: 0.8410
Epoch 88/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3832 - accuracy: 0.8407
Epoch 89/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3829 - accuracy: 0.8413
Epoch 90/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3818 - accuracy: 0.8406
Epoch 91/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3800 - accuracy: 0.8420
Epoch 92/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3784 - accuracy: 0.8420
Epoch 93/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3753 - accuracy: 0.8414
Epoch 94/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3712 - accuracy: 0.8429
Epoch 95/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3675 - accuracy: 0.8453
Epoch 96/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3632 - accuracy: 0.8470
Epoch 97/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3590 - accuracy: 0.8509
Epoch 98/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3545 - accuracy: 0.8541
Epoch 99/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3511 - accuracy: 0.8570
Epoch 100/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3479 - accuracy: 0.8585

In [102]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

63/63 [==============================] - 0s 3ms/step

In [103]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[1523   72]
 [ 213  192]]

0.8575

In [104]:
classifier.save('ann_model.h5')